{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,200&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Tweeter</h1>
        <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'user_profile' user.profile.id %}">Profile</a></li>
            <li><a href="{% url 'create_post' %}">Add Post</a></li>
            <li><a href="{% url "logout" %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url "signup" %}">Signup</a></li>
            {% endif %}
        </ul>
    </header>
{% block content %}
{% endblock %}
    <footer><p>Tweeter &copy; – 2023 – Todos os direitos reservados.</p></footer>
</body>
</html>